#root {
  margin: 0;
  padding: 0;
}

  #root{ 
    font-family: 'ubunturegular',
        'open_sansregular',
        'OpenSans-Regular',
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
  }


    